<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ config.base_url }}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ config.base_url }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ config.base_url }}/favicon-16x16.png">
  <link rel="manifest" href="{{ config.base_url }}/site.webmanifest">
  <script src="{{ config.base_url }}/jquery/jquery.min.js"></script>
  <script src="{{ config.base_url }}/popper/umd/popper.min.js"></script>
  <script src="{{ config.base_url }}/bootstrap/js/bootstrap.min.js"></script>
  <script src="{{ config.base_url }}/requirejs/require.js"></script>
  <script>var workshop_base_url = "{{ config.base_url }}";</script>
  {% if module.format == "asciidoc" %}
  <link rel="stylesheet" href="{{ config.base_url }}/asciidoctor/css/asciidoctor.css">
  {% endif %}
  <link rel="stylesheet" href="{{ config.base_url }}/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ config.base_url }}/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="{{ config.base_url }}/css/workshop.css">
  <link rel="stylesheet" href="{{ config.base_url }}/css/workshop-{{ module.format }}.css">
  {{ config.analytics }}
</head>
</body>
  <!-- Header -->
  <div class="header page-navbar sticky-top rounded bg-primary">
    <div class="row row-no-gutters">
      <div class="col-sm-12">
          <!-- Top Navigation -->
          <div class="btn-group" role="group">
            <button type="button" onclick="location.href='{{ config.base_url
              }}/';" class="btn btn-transparent" aria-label="Home">
              <span class="fas fa-home fa-inverse" aria-hidden="true"></span>
            </button>
          </div>
          <div class="btn-toolbar float-right" role="toolbar">
            <div class="btn-group" role="group">
              {% if module.prev_page %}
                <button type="button" onclick="location.href='{{ config.base_url
                  }}/{{ module.prev_page }}';" class="btn btn-transparent" aria-label="Prev">
                  <span class="fas fa-arrow-left fa-inverse" aria-hidden="true"></span>
                </button>
              {% else %}
                <button type="button" class="btn btn-transparent" disabled aria-label="Prev">
                  <span class="fas fa-arrow-left" aria-hidden="true"></span>
                </button>
              {% endif %}

              <button type="button" class="btn btn-transparent" aria-label="TOC" data-toggle="modal" data-target="#table-of-contents">
                <span class="fas fa-list fa-inverse" aria-hidden="true"></span>
              </button>

              {% if module.next_page %}
                <button type="button" onclick="location.href='{{ config.base_url
                  }}/{{ module.next_page }}';" class="btn btn-transparent" aria-label="Next">
                  <span class="fas fa-arrow-right fa-inverse" aria-hidden="true"></span>
                </button>
              {% else %}
                <button type="button" class="btn btn-transparent" disabled aria-label="Next">
                  <span class="fas fa-arrow-right" aria-hidden="true"></span>
                </button>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Table of Contents -->
  <div class="modal fade" id="table-of-contents" tabindex="-1" role="dialog" aria-labelledby="table-of-contents-title" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class"modal-title" id="table-of-contents-title">{{config.site_title}}</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ul class="menu">
            <li class="category">
              <ul class="modules">
                {% for section in modules %}
                  {% if section.path == module.path %}
                    <li class="page active"><a href="{{config.base_url}}/{{section.path}}">{{section.step}}: {{section.title}}</a></li>
                  {% else %}
                    <li class="page"><a href="{{config.base_url}}/{{section.path}}">{{section.step}}: {{section.title}}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Image Zoom Popup -->
  <div class="modal fade" id="image-zoom-popup" "tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-wide" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="image-zoom-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body image-zoom-body">
          <img class="img-fluid" id="image-zoom">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="container-fluid main-content">
    <div class="row">

      <div class="col-sm-12">
        <section class="page-content">

          <!-- Title -->
          {% if title %}
            <h1 class="title">{{ module.step }}: {{ title }}</h1>
          {% endif %}
          <!-- Content -->
          {{ content }}
          <!-- Bottom Navigation -->
          <div class="page-meta clearfix">
            {% if module.next_page %}
              {% if module.exit_sign %}
                <input type="button" class="btn btn-lg btn-primary float-right" onclick="location.href='{{ config.base_url }}/{{ module.next_page }}';" value="{{ module.exit_sign }}" />
              {% else %}
                <input type="button" class="btn btn-lg btn-primary float-right" onclick="location.href='{{ config.base_url }}/{{ module.next_page }}';" value="Continue" />
              {% endif %}
            {% else %}
              {% if module.exit_link %}
                {% if module.exit_sign %}
                  <input type="button" class="btn btn-lg btn-success float-right" onclick="location.href='{{ module.exit_link }}';" value="{{ module.exit_sign }}" />
                {% else %}
                  <input type="button" class="btn btn-lg btn-success float-right" onclick="location.href='{{ module.exit_link }}';" value="Continue" />
                {% endif %}
              {% else %}
                {% if module.exit_sign %}
                  {% if config.restart_url %}
                    <input type="button" class="btn btn-lg btn-danger float-right" onclick="window.parent.finished_workshop_dialog();" value="{{ module.exit_sign }}" />
                  {% else %}
                    <input type="button" class="btn btn-lg btn-success float-right" onclick="location.href='{{ config.base_url }}/';" value="{{ module.exit_sign }}" />
                  {% endif %}
                {% else %}
                  <input type="button" class="btn btn-lg btn-success float-right" onclick="location.href='{{ config.base_url }}/';" value="Home" />
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="footer">
  </footer>
  <!-- Javascript-->
  <script src="{{ config.base_url }}/js/workshop.js"></script>
  <script src="{{ config.base_url }}/js/workshop-{{ module.format }}.js"></script>
</body>
</html>
