doctype html
html
    head
        if module.format == "asciidoc"
            link(rel="stylesheet", href="/workshop/static/asciidoctor/css/asciidoctor.css")

        link(rel="stylesheet", href="/workshop/static/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="/workshop/static/fontawesome/css/all.min.css")
        link(rel="stylesheet", href="/workshop/static/highlight.js/styles/default.css")

        link(rel="stylesheet", href="/workshop/static/styles/educates.css")
        link(rel="stylesheet", href=`/workshop/static/styles/educates-${module.format}.css`)
        link(rel="stylesheet", href="/workshop/static/theme/workshop-instructions.css")

        link(rel="shortcut icon", href="/workshop/static/images/favicon.ico")

        if config.google_tracking_id
            include google-analytics

    body(
        data-google-tracking-id=config.google_tracking_id,
        data-workshop-name=config.workshop_name,
        data-session-namespace=config.session_namespace,
        data-workshop-namespace=config.workshop_namespace,
        data-training-portal=config.training_portal,
        data-ingress-domain=config.ingress_domain,
        data-ingress-protocol=config.ingress_protocol,
        data-ingress-port-suffix=config.ingress_port_suffix,
        data-prev-page=module.prev_page,
        data-current-page=module.path,
        data-next-page=module.next_page,
        data-page-format=module.format,
        data-page-step=module.step,
        data-pages-total=modules.length)

        include page-header

        include main-content

        include contents-dialog
        include image-dialog

        script(src="/workshop/static/scripts/educates-bundle.min.js")
        script(src="/workshop/static/theme/workshop-instructions.js")
