script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-135921114-1")
script.
    window.dataLayer = window.dataLayer || []
    function gtag(){ dataLayer.push(arguments) }
    gtag("js", new Date())
    gtag("set", {
        "custom_map": {
            "dimension1": "workshop_name",
            "dimension2": "session_namespace",
            "dimension3": "workshop_namespace",
            "dimension4": "training_portal",
            "dimension5": "ingress_domain",
            "dimension6": "ingress_protocol"
        }
    })
    gtag("config", "#{config.google_tracking_id}", {
        "workshop_name": "#{config.workshop_name}",
        "session_namespace": "#{config.session_namespace}",
        "workshop_namespace": "#{config.workshop_namespace}",
        "training_portal": "#{config.training_portal}",
        "ingress_domain": "#{config.ingress_domain}",
        "ingress_protocol": "#{config.ingress_protocol}"
    })
