div#workarea-content
    div.navbar-content#workarea-navbar-div
        ul.nav.nav-pills.mb-1#workarea-nav(role="tablist")
            if config.enable_terminal
                li.nav-item
                    a.nav-link#terminal-tab(data-toggle="tab" href="#terminal-panel" role="tab" aria-controls="terminal-panel" aria-selected=false) Terminal

            each panel in config.dashboards
                if panel.name && panel.url
                    li.nav-item
                        a.nav-link(id=panel.id+"-tab" data-toggle="tab" href="#"+panel.id+"-panel" role="tab" aria-controls=panel.id+"-panel" aria-selected=false) #{panel.name}

            li.nav-item.ml-auto
                if config.enable_countdown
                    span
                        button.btn.btn-default.btn-transparent.fa.fa-stopwatch.d-none.mr-1#countdown-button(type="button")

                span
                    button.btn.btn-default.btn-transparent.fa.fa-sync-alt#refresh-button(type="button")

                span.btn-group
                    button.btn.btn-default.btn-transparent.fa.fa-bars#actions-dropdown(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")

                    div.dropdown-menu.dropdown-menu-right
                        if config.enable_workshop
                            a.btn.dropdown-item.open-window(role="menuitem", data-url="/workshop/") Open Workshop

                        if config.enable_terminal
                            a.btn.dropdown-item.open-window(role="menuitem", data-url="/terminal/session/") Open Terminal

                        if config.enable_console && config.console_url
                            a.btn.dropdown-item.open-window(role="menuitem", data-url=`${config.console_url}`) Open Console

                        if config.enable_slides && config.slides_dir
                            a.btn.dropdown-item.open-window(role="menuitem", data-url="/slides/") Open Slides

                        if config.restart_url
                            div.dropdown-divider
                            a.btn.dropdown-item(role="menuitem", data-toggle="modal", data-target="#restart-workshop-dialog") Restart Session

    div.tab-content
        if config.enable_terminal
            div.tab-pane.fade.show.panel-div#terminal-panel(role="tabpanel" aria-labelledby="terminal-tab")
                div.terminal#terminal-1(data-endpoint-id=`${endpoint_id}` data-session-id="1")
                if config.terminal_layout == "split" || config.terminal_layout == "split/2"
                    div.terminal#terminal-2(data-endpoint-id=`${endpoint_id}` data-session-id="2")
                if config.terminal_layout == "split/2"
                    div.terminal#terminal-3(data-endpoint-id=`${endpoint_id}` data-session-id="3")

        each panel in config.dashboards
            if panel.name && panel.url
                div.tab-pane.fade.show.panel-div.iframe-div(id=panel.id+"-panel" role="tabpanel" aria-labelledby=panel.id+"-tab")
                    iframe(src="about:blank" data-src=panel.url)
