doctype html
html.no-scrolling
    head
        link(rel="stylesheet", href="/static/xterm/css/xterm.css")
        link(rel="stylesheet", href="/static/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="/static/fontawesome/css/all.min.css")
        link(rel="stylesheet", href="/static/styles/educates.css")
        link(rel="stylesheet", href="/static/theme/workshop-dashboard.css")
        link(rel="shortcut icon", href="/static/images/favicon.ico") 

        if workshop_head_html
            != workshop_head_html

        if config.google_tracking_id
            include google-analytics

        if config.clarity_tracking_id
            include clarity-analytics

    body.no-scrolling(
        data-endpoint-id=`${endpoint_id}`,
        data-session-owner=session_owner,
        data-user-context=user_context,
        data-google-tracking-id=config.google_tracking_id,
        data-clarity-tracking-id=config.clarity_tracking_id,
        data-workshop-name=config.workshop_name,
        data-session-namespace=config.session_namespace,
        data-workshop-namespace=config.workshop_namespace,
        data-training-portal=config.training_portal,
        data-ingress-domain=config.ingress_domain,
        data-ingress-protocol=config.ingress_protocol,
        data-ingress-port-suffix=config.ingress_port_suffix,
        data-workshop-layout=config.workshop_layout,
        data-terminal-layout=config.terminal_layout,
        data-workshop-url=config.workshop_url,
        data-workshop-ready=`${workshop_ready}`,
        data-time-started=`${time_started}`,
        data-page-hits=page_hits)

        include startup-cover-panel

        div.dashboard-content#dashboard
            if (config.enable_workshop || config.workshop_url) && (config.workshop_layout == "default" || config.workshop_layout == "left")
                div.split.split-horizontal.panel-content#workshop-panel
                    include workshop-panel-content

            div.split.split-horizontal.panel-content#workarea-panel
                include workarea-panel-content

        include workshop-failed-dialog
        include workshop-expired-dialog
        include terminate-session-dialog
        include started-workshop-dialog
        include finished-workshop-dialog
        include preview-image-dialog

        script(src="/static/scripts/educates-bundle.min.js")
        script(src="/static/theme/workshop-dashboard.js")
